<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThaHr30.Properties.Settings.netconceptConnectionString"
            connectionString="Data Source=202.57.163.52;Initial Catalog=netconcept;Persist Security Info=True;User ID=netconcept;Password=netcon"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>